<div class="index-container">
    <% for session in @sessions %>
      <div class="index-child">
        <a class="member-name" href="/sessions/<%= session.id %>"></a>
        <a href="/sessions/<%= session.id() %>">
          <h1><u> <%= session.type() %></u></h1>
        </a>
          <p><b>Type: </b><%= session.type() %></p>
          <p><b>Trainer: </b><%= session.trainer() %></p>
          <p><b>Room: </b><%= session.room() %></p>
      </div>
    <% end %>
      <div class="index-child">
        <a class="new" href="/sessions/new">New Session</a>
      </div>

</div>
