<div class="show-container">
  <div class="show-child">

    <h3><b>Type: </b><%= @session.type %> </h3>
    <h3><b>Trainer: </b><%= @session.trainer %></h3>
    <h3><b>Room: </b><%= @session.room %></h3>
    </div>
<div class="show-child">
    <a href="/sessions/<%= @session.id %>/edit" class="edit">Edit details</a>
      <form   action="/sessions/<%= @session.id %>/delete" method="post">
        <input class="delete"  type="submit" value="Delete">
      </form>
    </div>
  </div>
